<!Doctype html>
<html>
	<head>
		<title>PortafolioW.la</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/portafoliow.css">
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a href="#yo" class="MainMenu-link">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a href="#perfil" class="MainMenu-link">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a href="#trabajo" class="MainMenu-link">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a href="#contacto" class="MainMenu-link">Contacto</a>
					</li>

				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="avatar.jpg" alt="Avatar Personal" class="Header-image"/>
				<figcaption class="Header-imageDescription">
					<a href="https://twitter.com/faltdor" target="_black"
					class="Header-link">@faltdor</a>
				</figcaption>
				<p class="Header-name">W faltdor</p>
			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title u-title">Perfil</h2>
			<p class="Profile-desc">Portafolio y Contacto</p>
			<a class="Profile-link" href="https://twitter.com/faltdor" target="_black" >@faltdor</a>
			<a class="Profile-link" href="https://twitter.com/faltdor" target="_black" >@faceboo</a>
			<a class="Profile-link" href="https://github.com/faltdor/" target="_black">githup</a>

		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Trabajo</h2>
			<article>
				<figure>
					<img class="Work-image" src=""/>
					<figcaption class="Work-description">Descripcion de la imagen</figcaption class="Work-description">
				</figure>
			</article>
			<article>
				<figure>
					<img class="Work-image" src=""/>
					<figcaption class="Work-description">Descripcion de la imagen</figcaption class="Work-description">
				</figure>
			</article>
			<article>
				<figure>
					<img class="Work-image" src=""/>
					<figcaption class="Work-description">Descripcion de la imagen</figcaption class="Work-description">
				</figure>
			</article>
			<article>
				<figure>
					<img class="Work-image" src=""/>
					<figcaption class="Work-description">Descripcion de la imagen</figcaption class="Work-description">
				</figure>
			</article>
			<article>
				<figure>
					<img class="Work-image" src=""/>
					<figcaption class="Work-description">Descripcion de la imagen</figcaption class="Work-description">
				</figure>
			</article>
			<article>
				<figure>
					<img class="Work-image" src=""/>
					<figcaption class="Work-description">Descripcion de la imagen</figcaption class="Work-description">
				</figure>
			</article>

		</section>
		<footer id="contacto" class="Footter">
			<h3 class="Footter-title"> Contacto</h3>
			<p class="Footter-description">Parrafo de contacto del portafolio</p>
			<form class="Footter-form">
				<input class="Footter-formInput" type="text" placeholder="Nombre"/>
				<input  class="Footter-formInput"type="email" placeholder="email"/>
				<textarea  class="Footter-textarea" placeholder="Motivo"> </textarea>
				<button  class="Footter-button" type="submit">Contacto</button>
			</form>
		</footer>
	</body>
</html>